@font-face {
    font-family:japanese;
    src: url(../dist/font/nuku-nuku.regular.ttf);
}
html{
    height:100%;
    width: 100%; 
}
body{
    height:100%;
    width: 100%;
    margin:0;
    background-image: url('./images/pattern.jpg');
    background-size: cover;
    margin: auto;

}
#content{
    height:100%;
    display:flex;
    flex-direction: column;
    
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e3deda;
    color:#f11a2c;
    font-family: japanese;
    font-size: 80px;
    padding:10px;
    box-sizing: border-box;
    flex: 0;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.nav img{
    width:80px;
    height: 80px;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-top:20px;

}
ul{
    list-style-type: none;
    padding:0;
}
.links li{
    list-style: none;
    box-sizing: border-box;
    margin:0 20px;
}
li a{
    text-decoration: none;
    color: #f11a2c;
    border-bottom: solid 8px transparent;
    padding:10px;
}
li a:hover{
    overflow: hidden;
    border-bottom: solid 2px red;
}
.main ,.menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.greeting{
    margin:3vmax;
    background-color: rgba(252, 61, 61, 0.959);
    width: 650px;
    padding: 3vmax;
}
.header, .menuHeader{
    text-align: center;
    font-family: japanese;
    color:white;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom:30px;
}
.text{
    line-height: 50px;
    letter-spacing: 1.5px;
    text-align: center;
    font-family: japanese;
    color:white;
    font-size: 30px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3deda;
    font-family: japanese, sans-serif;
    color: rgba(252, 61, 61, 0.959);
    padding: 5px;
    gap: 8px;
    font-size: 25px;
    flex-shrink:0;
}
footer span{
    font-family: sans-serif;
    font-size: 25px;
}
footer img{
    width: 30px;
    border-radius: 50%;
}
footer img:hover{
    background-color: #db2e3c;
    cursor: pointer;
}
footer p{
    font-size: 17px;
    padding: 10px 10vw;
    border-top: solid 2px #f11a2c;
    margin: 0;
}


/* css for menu */
.redBackground{
    margin:30px;
    background-color: rgba(252, 61, 61, 0.959);
    width: 650px;
    padding: 30px;
}
.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #af1f2b;
    height: 350px;
    margin:10px;
    padding:20px;
    border: solid 0px white;
    box-sizing: border-box;
    /* border-radius: 10px;; */
}
.card img{
    width:250px;
    margin-bottom: 10px;
}
.info{
    line-height: normal;
    letter-spacing: 1.5px;
    font-family: japanese;
    color:white;
    font-size: 25px;
}
@media (max-width: 1108px){
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .greeting{
        width: 80vw;
    }
}
@media (max-width: 430px){
    .nav{
        font-size: 45px;
    }
    .nav img{
        width:50px;
        height: 50px;
    }
    .links{
        font-size: 18px;
    }
    .header, .menuHeader{
        font-size: 23px;
        margin-bottom:30px;
    }
    .text{
        font-size: 15px;
        line-height: normal;
    }
    footer{
        padding: 5px;
        gap: 2px;
        font-size: 14px;
    }
    footer span{
        font-family: sans-serif;
        font-size: 14px;
    }
    footer img{
        width: 15px;
        border-radius: 50%;
    }
    footer p{
        font-size: 12px;
        padding: 10px 10vw;
        margin: 0;
    }
    /* css for menu */
    .redBackground{
        display:flex;
        flex-direction: column;
        margin: 30 0px;
        background-color: rgba(252, 61, 61, 0.959);
        width: 85vw;
        padding: 10px;
    }
    .cardContainer{
        display: flex;
        flex-direction: column;
        gap:5px;
        
    }
    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 140px;
        margin:10px;
        padding:20px;
        border: solid 0px white;
        box-sizing: border-box;
        /* border-radius: 10px;; */
    }
    .card img{
        width:100px;
        margin-bottom: 10px;
    }
    .info{
        line-height: normal;
        letter-spacing: 1.5px;
        font-family: japanese;
        color:white;
        font-size: 15px;
    }
}
