@font-face {
    font-family:japanese;
    src: url(./font/nuku-nuku.regular.ttf);
}
html{
    height:100%;
    width: 100%; 
}
body{
    height:100%;
    width: 100%;
    margin:0;
    background-image: url('./images/pattern.jpg');
    background-size: cover;
    margin: auto;
}
#content{
    height:100%;
    display:flex;
    flex-direction: column;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e3deda;
    color:#f11a2c;
    font-family: japanese;
    font-size: 80px;
    padding:10px;
    box-sizing: border-box;
    flex: 0;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}
.nav img{
    width:80px;
    height: 80px;
    margin: 0 15px;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-top:20px;

}
ul{
    list-style-type: none;
    padding:0;
    margin-bottom: 20px;
}
.links li{
    list-style: none;
    box-sizing: border-box;
    margin:0 20px;
}
.underline{
    border-bottom: solid 3px red !important;
}
.tab{
    text-decoration: none;
    color: #f11a2c;
    padding:10px;
    /* border-bottom: solid 3px white; */
}
.tab:hover{
    overflow: hidden;
    border-bottom: solid 3px red;
    text-shadow: 3px 3px white;
}

.main ,.menu , .contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    animation: fadein 0.5s;
}
@keyframes fadein {
    from {opacity: 0.85;}
    to {opacity: 1;}
}
.greeting{
    margin:3vmax;
    background-color: rgba(252, 61, 61, 0.959);
    width: 650px;
    padding: 3vmax;
}
.header, .menuHeader, .contactHeader{
    text-align: center;
    font-family: japanese;
    color:white;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom:30px;
}
.text{
    line-height: 50px;
    letter-spacing: 1.5px;
    text-align: center;
    font-family: japanese;
    color:white;
    font-size: 30px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3deda;
    font-family: japanese, sans-serif;
    color: rgba(252, 61, 61, 0.959);
    padding: 5px;
    gap: 8px;
    font-size: 25px;
    flex-shrink:0;
}
footer span{
    font-family: sans-serif;
    font-size: 25px;
}
footer img{
    width: 30px;
    border-radius: 50%;
}
footer img:hover{
    background-color: #db2e3c;
    cursor: pointer;
}

.ref{
    text-align: center;
    font-size: 17px;
    padding: 0px 10vw;
    border-top: solid 2px #f11a2c;
    margin: 0;
}
footer p{
    margin: 3px;
}

/* css for menu */
.redBackground{
    margin:30px;
    background-color: rgba(252, 61, 61, 0.959);
    width: 650px;
    padding: 30px;
}
.cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #af1f2b;
    height: 350px;
    margin:10px;
    padding:20px;
    box-sizing: border-box;
}
.card:hover{
    background-color: #af1f2bc4;
    cursor: pointer;
}
.card img{
    width:250px;
    margin-bottom: 10px;
}
.cardText{
    text-align: center;
    flex:1;
}
.info{
    line-height: normal;
    letter-spacing: 1.5px;
    font-family: japanese;
    color:white;
    font-size: 25px;
}

/* css for contact */
.contactImage{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media (max-width: 1108px){
    .nav{
        flex-direction: column;
    }
    .greeting{
        width: 80vw;
    }
}
@media (max-width: 726px){
    .nav{
        font-size: 45px;
    }
    .nav img{
        width:50px;
        height: 50px;
    }
    .links{
        font-size: 18px;
    }
    .header{
        font-size: 23px;
    }
    .text{
        font-size: 15px;
        line-height: normal;
    }
    footer{
        gap: 2px;
        font-size: 14px;
    }
    footer span{
        font-size: 14px;
    }
    footer img{
        width: 15px;
    }
    .ref{
        font-size: 12px;
        padding: 10px 10vw;
    }
    /* css for menu */
    .redBackground{
        margin: 30 0px;
        width: 85vw;
        padding: 10px;
    }
    .menuHeader{
        font-size: 30px;
        margin-bottom:0px;
    }
    .cardContainer{
        display: flex;
        flex-direction: column;
        gap:5px;
        
    }
    .card{
        flex-direction: row;
        justify-content: space-between;
        height: 140px;
        padding:10px;
    }
    .card img{
        width:120px;
        margin-bottom: auto;
    }
    .info{
        font-size: 20px;
    }
    /* css for contact */
    .contactHeader{
        font-size: 30px;
    }
}
